.teacherTitle{
  padding-bottom: 20px;
  h2{
    font-size: 24px;
  }
}
.subNavi{
  text-align: right;
  margin: 21px 0 32px;
  li{
    display: inline-block;
    position: relative;
    color: #9A9A9A;
    font-size: 14px;
  }
}